#!/bin/bash

docker run \
  --name wind-map-backend \
  --restart=always \
  -p 8090:8090 \
  -e NODE_ENV=production \
  -e APP_HOST=0.0.0.0 \
  -e APP_PORT=8090 \
  -e DB_DIALECT=postgres \
  -e DB_HOST="" \
  -e DB_USER="" \
  -e DB_PASS="" \
  -e DB_NAME="" \
  -e AUTH_SECRET="" \
  -e API_KEY_OPENWEATHERMAP="" \
  -e API_KEY_GOOGLE="" \
  -e API_KEY_DARKSKY="" \
  -e API_KEY_WAQI="" \
  -e API_KEY_WORLDWEATHERONLINE="" \
  -e APIKEYS_FCM="" \
  -e NODEMAILER_SERVICE="" \
  -e NODEMAILER_USER="" \
  -e NODEMAILER_PASS="" \
  -dit hub.12devs.com/wind-map/backend
